<div  class="card" >
    <div id="img">
        <img src="{{profesional.photo}}" alt="Foto profesional" >
    </div>
   
    <div class="">
      <h5 >{{profesional.name}} {{profesional.lastName}}</h5>
    </div>
    <ul  >
      <li class=> <b>Edad:</b> {{profesional.age}}</li>
      <li class=> <b>Nacionalidad: </b>{{profesional.nationality}}</li>
      <li class=><b>Profesion:</b> {{profesional.profession}}</li>
      <li class=> <b>Número de oscars:</b> {{profesional.oscarNumber}}</li>
      <li class=> <b>Altura: </b>{{profesional.height}}</li>
      <li class=""><b>Peso:</b> {{profesional.weight}}</li>
    </ul>
</div>